




@media screen and (max-width: 1366px) {
	

	.container {
		padding: 0 15px;
	}

	
}

@media screen and (max-width: 1350px) {
	
}

@media screen and (max-width: 1320px) {
	
}

@media screen and (max-width: 1290px) {
	
}

@media screen and (max-width: 1230px) {
	
}


/* стили для md-устройств */
@media screen and (max-width: 1200px) {
	.what-reroll-close {
		right: 10px;
		top: 10px;
		background: #040402;
	}

	.what-reroll-border {
		width: 100%;
	}

	.what-reroll-profile-img img {
		width: 100%;
	}

	.what-reroll-profile-img2 img {
		width: 100%;
	}

	.crypto-idol-face-title {
		font-size: 30px;
		line-height: 40px;
	}


}

@media screen and (max-width: 1190px) {
	
}

@media screen and (max-width: 1170px) {
	.crypto-idol-face-border {
		padding: 15px 15px;
	}
}

@media screen and (max-width: 1110px) {
	.what-reroll-restagle {
		right: -20px;
	}

	.what-reroll-restagle2 {
		right: -20px;
	}

	.what-reroll-profile-link a {
		width: 100px;
	}

	.what-reroll-profile-link2 a {
		width: 100px;
	}

	.what-reroll-profile-link3 a {
		width: 100px;
	}

	.crypto-idol-face-reroll-suptile {
		font-size: 30px;
	}
  
}

@media screen and (max-width: 1050px) {
	
	.what-reroll-border {
		padding: 45px 0;
	}

  
}


@media screen and (max-width: 1024px) {
	
  
}



/* стили для sm-устройств */
@media screen and (max-width: 992px) {
	.what-reroll-restagle {
		width: 220px;
		right: -5px;
	}

	.what-reroll-restagle2 {
		width: 213px;
		right: -5px;
	}

	.what-reroll-block-text {
		font-size: 20px;
		line-height: 30px;
	}

	.what-reroll-title {
		font-size: 34px;
		line-height: 50px;
	}

	.what-reroll-block-sutitle {
		font-size: 14px;
		line-height: 18px;
	}

	.what-reroll-idols-suptitle {
		font-size: 26px;
		line-height: 30px;
	}

	.what-reroll-profile-title {
		font-size: 16px;
		line-height: 20px;
		padding: 15px 15px 0 15px;
	}

	.what-reroll-profile-suptitle {
		padding: 4px 15px 0 15px;
	}

	.what-reroll-profile-title2 {
		font-size: 16px;
		line-height: 20px;
		padding: 15px 15px 0 15px;
	}

	.what-reroll-profile-suptitle2 {
		padding: 4px 15px 0 15px;
	}

	.what-reroll-profile-links {
		padding: 15px 15px 0 15px;
	}

	.what-reroll-idols-img {
		padding: 15px 0;
	}

	.crypto-idol-face-wrap {
		flex-wrap: wrap;
	}

	.crypto-idol-face-block {
		justify-content: center;
		width: 100%;
	}

	.crypto-idol-face-block2 {
		width: 100%;
		padding: 20px 0 0 0;
	}

	.crypto-idol-face-button2 {
		left: 46%;
	}

	.crypto-idol-face-border {
		width: 500px;
	}

	.crypto-idol-face-block-border {
		display: flex;
		justify-content: center;
	}

	.crypto-idol-face-block-border2 {
		display: flex;
		justify-content: center;
	}
  
}

@media screen and (max-width: 950px) {
	.what-reroll-idols-border {
		padding: 15px 15px;
	}

	.what-reroll-balance-border {
		padding: 15px 15px;
	}

	.what-reroll-balance-suptitle {
		font-size: 18px;
		line-height: 22px;
	}
}

@media screen and (max-width: 910px) {
	

	.faces-info-title {
		font-size: 14px;
		line-height: 18px;
	}

	.faces-info-suptitle {
		font-size: 18px;
		line-height: 26px;
	}

	.faces-info-border {
		padding: 10px 0;
		width: 170px;
	}

	.faces-title {
		font-size: 36px;
		line-height: 40px;
	}

	.faces-button {
		padding: 15px 0;
	}

	.faces-button2 {
		padding: 15px 0;
	}

	.what-reroll-restagle {
	    width: 180px;
	    right: 0px;

	}

	.what-reroll-restagle2 {
	    width: 173px;
	    right: 0px;
	}

	.what-reroll-block-sutitle {
		height: 40px;
	}
	
}

@media screen and (max-width: 850px) {
	.reroll-mft-border {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	

	.header-nav {
		padding: 0;
	}

	.reroll-link a {
		width: 150px;
	}

	.reroll-link2 a {
		width: 120px;
	}

	.what-reroll-profile-link a {
		width: 70px;
		font-size: 14px;
		line-height: 18px;
	}

	.what-reroll-profile-link3 a {
		width: 70px;
		font-size: 14px;
		line-height: 18px;
	}

	.what-reroll-profile-link2 a {
		width: 70px;
		font-size: 14px;
		line-height: 18px;
	}

	.what-reroll-restagle2 {
		display: none;
	}

	.what-reroll-restagle {
		display: none;
	}

}



/* Ipad*/ 
@media screen and (max-width: 768px) {
	

	nav ul li a, nav ul li a:visited {
		font-size: 14px;
		line-height: 18px;
		padding: 0 10px;
	}

	nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
		right: 8px;
		top: -3px;
	}

	.header-li {
		padding: 0 21px 0 0;
	}

	.faces-info-border {
		width: 150px;
	}

	
	.additional-sales-title {
		font-size: 50px;
		line-height: 80px;
	}

	.additional-sales-title img {
		padding: 10px 10px;
	}

	.additional-sales-suptitle {
		font-size: 16px;
		line-height: 24px;
	}

	.reroll-nft-title {
		font-size: 24px;
		line-height: 30px;
	}

	.reroll-nft-suptitle {
		font-size: 14px;
		line-height: 20px;
	}

	.what-reroll-idols-img img {
		width: 150px;
	}

	.crypto-idol-face-button2 {
	    left: 45%;
	}
	
}


/* Ipad mini*/ 
@media screen and (max-width: 640px) {
	

	.what-reroll-idols-suptitle {
		font-size: 18px;
		line-height: 20px;
	}

	.faces-infoblock {
		flex-wrap: wrap;
	}

	.faces-info-block {
		padding: 0 6px 10px 6px;
		display: flex;
		justify-content: center;
		width: 50%;
	}

	

	.header-link a {
		font-size: 14px;
		line-height: 18px;
		width: 100px;
	}

	.additional-sales-block {
		width: 40%;
	}

	.additional-sales-block2 {
		width: 60%;
		padding: 0 0 0 20px;
	}

	.reroll-nft-suptitle br {
		display: none;
	}

	.reroll-mft-border {
		justify-content: center;
		flex-wrap: wrap;
	}

	.reroll-nft-text {
		padding: 10px 0 0 0;
		width: 100%;
	}

	.reroll-nft-title {
		text-align: center;
	}

	.crypto-idol-face-button2 {
	    left: 44%;
	}

}

@media screen and (max-width: 590px) {
  	.additional-sales-wrap {
  		flex-wrap: wrap;
  	}

  	.additional-sales-block {
  		text-align: center;
  		width: 100%;
  	}

  	.additional-sales-block2 {
  		text-align: center;
  		width: 100%;
  		padding: 20px 0 0 0;
  	}

  	.additional-sales-title {
  		justify-content: center;
  	}

  	.additional-sales-link {
  		justify-content: center;
  		display: flex;
  	}

  	.reroll-links {
  		justify-content: center;
  	}

  	.what-reroll-profile-link a {
	    width: 50px;
	    font-size: 12px;
	    line-height: 15px;
	}

	.what-reroll-profile-link2 a {
	    width: 50px;
	    font-size: 12px;
	    line-height: 15px;
	}

	.what-reroll-profile-link3 a {
	    width: 50px;
	    font-size: 12px;
	    line-height: 15px;
	}

	.what-reroll-block {
		width: 100%;
		padding: 20px 10px 0 10px;
	}

	.what-reroll-wrap {
		padding: 0;
		flex-wrap: wrap;
	}

	.what-reroll-block-sutitle {
		height: auto;
	}

	.what-reroll-profile-link a {
	    width: 70px;
	    font-size: 14px;
	    line-height: 18px;
	}
}


@media screen and (max-width: 540px) {
  .crypto-idol-face-border {
  	width: 100%;
  }
}

@media screen and (max-width: 500px) {
  	.crypto-idol-face-title {
  		font-size: 24px;
  		line-height: 30px;
  	}

  	.crypto-idol-face-reroll-suptile {
  		font-size: 20px;
  	}

  	.crypto-idol-face-reroll-link a {
  		width: 100px;
  	}
}

/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {
  	nav ul li a, nav ul li a:visited {
  		font-size: 12px;
  	}

  	.header-link a {
  		font-size: 12px;
  	}

  	.header-logo a img {
  		width: 40px;
  	}

  	.faces-suptitle {
  		font-size: 14px;
  		line-height: 18px;
  	}

  	.what-reroll-block {
		width: 100%;
		padding: 20px 10px 0 10px;
	}

	.what-reroll-wrap {
		padding: 0;
		flex-wrap: wrap;
	}

	.what-reroll-block-sutitle {
		height: auto;
	}

	.what-reroll-profile-link a {
	    width: 70px;
	    font-size: 14px;
	    line-height: 18px;
	}

	.what-reroll-profile-link2 a {
	    width: 70px;
	    font-size: 14px;
	    line-height: 18px;
	}

	.what-reroll-profile-link3 a {
	    width: 70px;
	    font-size: 14px;
	    line-height: 18px;
	}
}

@media screen and (max-width: 460px) {
  

 
}

/* Galaxy*/ 
@media screen and (max-width: 480px) {

.oficeal-tit {
    color: #242321;
    font-family: 'gilroy-black';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 27px;
}
	.crypto-idol-face-reroll-link {
		padding: 0 0 0 15px;
	}

	.burger svg.is {
	    position: absolute;
	    top: 85px;
	    right: -11px;
	}

	.header-logo-text {
	    padding: 0 0 0 0px;
	    width: 180px;
	    margin: 0 0 0 -50px;
	}

	.header-logo a img {
	    width: 82px;
	}

	.header-logo-title {
	    font-family: 'gilroy-bold';
	    font-size: 11px;
	    line-height: 18px;
	    color: #242321;
	}

	.burger {
	    left: -14px;
	}

	.burger.burger-open {
	    color: #BD30BC;
	    position: absolute;
	    left: 24px;
	    top: -54px;
	}

	.burger svg.is2 {
    position: absolute;
    right: -10px;
}

.header-logo a img {
    width: 82px;
}
  

  	.header-link a {
  		width: 75px;
  	}

  	.wanna-sell-border {
  		width: 100%;
  	}

  	.wanna-sell-buttons {
  		width: 100%;
  	}

  	.wanna-sell-input {
  		width: 100%;
  	}

  	.wanna-sell-link a {
  		width: 100%;
  	}

  	.wanna-sell-button {
  		width: 50%;
  	}

  	.crypto-idol-face-reroll-link {
		padding: 0 0 0 15px;
	}

  	
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 480px) {
	

	nav ul li a, nav ul li a:visited {
		padding: 0 5px;
	}

	nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
		right: -2px;
	}

	.header-li {
		padding: 0 12px 0 0;
	}

	.faces-border {
		width: 290px;
	}

	.faces-button {
		width: 145px;
	}

	.faces-button2 {
		width: 145px;
	}

	
.header-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

	.wanna-sell-title {
		font-size: 28px;
	}

	.additional-sales-title {
		font-size: 40px;
		line-height: 60px;
	}

	.additional-sales-title img {
		padding: 5px 5px;
		margin-left: 15px;
	}

	.reroll-link2 {
		padding: 0 0 0 5px;
	}

	.reroll-nft-close {
		top: 10px;
		right: 10px;
	}

	.crypto-idol-face-link a {
		font-size: 12px;
	}

	.crypto-idol-face-reroll-wrap {
		flex-wrap: wrap;
	}

	.crypto-idol-face-reroll-link {
		width: 100%;
		padding: 15px 0 0 0;
	}
	
}

/* Iphone 5.5SE */ 
@media screen and (max-width: 320px) {

}